<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>绑定支付宝</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="__PUBLIC__/asset/amaze/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="__PUBLIC__/asset/amaze/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/asset/amaze/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="__PUBLIC__/asset/amaze/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="__PUBLIC__/asset/amaze/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/asset/amaze/css/app.css">
</head>
<body>
<form class="am-form">
    <div class="am-form-group">
        <input type="text" class="am-form-field" placeholder="请输入支付宝账号" dir="rtl">
    </div>
    <div class="am-form-group">
        <input type="text" class="am-form-field" placeholder="请输入姓名" dir="rtl">
    </div>
</form>
<form class="am-form am-form-horizontal">
    <div class="am-form-group">
        <label class="am-u-sm-4 am-form-label" style="padding: 5px 0 0 10px;">支付宝账号:</label>
        <div class="am-u-sm-8">
            <input type="text" class="am-form-field" placeholder="输入你的支付包账号" dir="rtl">
        </div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-4 am-form-label" style="padding: 5px 0 0 10px;">姓名:</label>
        <div class="am-u-sm-8">
            <input type="password" class="am-form-field" placeholder="输入你的密码" dir="rtl">
        </div>
    </div>
</form>

<p class="font-1">温馨提示:</p>
<p class="font-2">支付宝账号绑定后不可变更,如需变更,请致电客服:</p>
<p class="font-2">012-52889997</p>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/asset/amaze/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/asset/amaze/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/asset/amaze/js/amazeui.min.js"></script>
</body>
<style>
    body{
        background-color: #f6f6f6;
    }
    .font-1{
        color: #e49715;
        padding-left:10px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .font-2{
        padding-left: 9px;
        color: #999999;font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 13px;
    }
</style>
</html>