<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>提现界面</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="__PUBLIC__/asset/amaze/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="__PUBLIC__/asset/amaze/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/asset/amaze/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="__PUBLIC__/asset/amaze/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="__PUBLIC__/asset/amaze/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/asset/amaze/css/app.css">
</head>
<body>
<div class="am-g">
    <div class="am-u-sm-12" style="background-color: white;margin-top:10px;padding: 10px 10px 10px 10px;">
        <span>可提现金额:</span>
        <span id="money" class="am-fr">￥{$myInfo.customer_balance}</span>
    </div>
    <div class="am-u-sm-12" style="padding: 10px 10px 10px 10px;">
        <span>选择提现账户:</span>
    </div>
    <div class="am-u-sm-12" style="background-color: white;padding: 10px 10px 10px 10px;border-bottom: 1px solid #b4b4b4">
        <span class="am-icon-dot-circle-o am-icon-sm" style="color: #ff6800;"></span>
        <span class="">支付宝账户:</span>
    </div>
</div>
<p class="font-1">温馨提示:</p>
<p class="font-2">1.每日限提现一笔</p>
<p class="font-2">2.提现申请将于次日18点打款完成</p>


<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/asset/amaze/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/asset/amaze/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/asset/amaze/js/amazeui.min.js"></script>
</body>
<style>
    body{
        background-color: #f6f6f6;
    }

    .font-1{
        color: #e49715;
        padding-left:10px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .font-2{
        padding-left: 9px;
        color: #999999;font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #money{
        color: #ff6800;
    }
</style>
</html>
