<div class="easyui-layout" style="width:100%;height:100%;">
    <div region="east" split="true" title="产品信息" style="width:40%;">
        <div id="orders-product-toolbar" style="padding:5px;height:auto">
            <div style="margin-bottom:5px">
                <a href="#" class="easyui-linkbutton" onclick="orders_toolbar.deleteProduct()" iconCls="icon-delete-new" plain="true">删除</a>
                <a href="#" class="easyui-linkbutton" onclick="orders_toolbar.selectQrCode()" >二维码查看</a>
            </div>
        </div>
        <table id="orders-product">
        </table>
    </div>
    <div id="content" region="center" title="订单管理">
        <div id="orders-toolbar" style="padding:5px;height:auto">
            <div style="margin-bottom:5px">
                <a href="#" class="easyui-linkbutton" onclick="orders_toolbar.deleteOrder()" iconCls="icon-delete-new" plain="true">删除</a>
                <input class="easyui-searchbox searchbox-orders" name="orders_id" data-options="prompt:'请输入订单号',searcher:orders_toolbar.searchOrder" >
                <a href="#" class="easyui-linkbutton"  onclick="orders_toolbar.openSearchOrders()">高级搜索</a>
            </div>
        </div>
        <table id="manager-orders" >
        </table>
    </div>
</div>

<!--搜索界面-->
<form id="search-form" class="app-form" method="post">
    <div class="app-form-group">
        <span class="form-span">下单客户:</span>
        <input  type="text"  name="customer_id" class="customer"  />
    </div>
    <div class="app-form-group">
        <span class="form-span">状  态:</span>
        <input  type="text"  name="orders_status" class="select-status"/>
    </div>
</form>

<script type="text/javascript" src="__PUBLIC__/app/plugins/store.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/app/order.js"></script>