<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>玩卡说</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="__PUBLIC__/asset/amaze/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="__PUBLIC__/asset/amaze/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/asset/amaze/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="__PUBLIC__/asset/amaze/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="__PUBLIC__/asset/amaze/css/amazeui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/asset/amaze/css/app.css">
</head>
<body>
    <div class="am-container" style="margin-top: 100px;">
        <a href="__MODULE__/Buy">
            <div class="am-u-sm-5" style="margin-left: 13px">
                <span class="am-icon-shopping-cart am-icon-md" style="display: block;padding-bottom: 10px;border-bottom:1px solid white"></span>
                <div class="font">我要买</div></div>
        </a>
        <a href="__MODULE__/Seller">
            <div class="am-u-sm-5" style="margin-left: 30px;">
                <img src="__PUBLIC__/sale.png" style="display: block;padding-bottom: 10px;;border-bottom:1px solid white;height: 67px;padding-left: 24%;padding-right: 24%">
                <!--<img src="__PUBLIC__/sale.png" width="">-->
                <div class="font">我要卖</div></div>
        </a>
    </div>
    <div class="am-container" style="margin-top: 20px;">
        <a href="__MODULE__/Orders">
            <div class="am-u-sm-5" style="margin-left: 13px">
                <span class="am-icon-credit-card am-icon-md" style="display: block;padding-bottom: 10px;border-bottom:1px solid white"></span>
                <div class="font">订单中心</div></div>

        </a>
        <a href="__MODULE__/User">
            <div class="am-u-sm-5" style="margin-left: 30px;">
                <span class="am-icon-user am-icon-md" style="display: block;padding-bottom: 10px;border-bottom:1px solid white"></span>
                <div class="font">个人中心</div></div>
        </a>
    </div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/asset/amaze/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/asset/amaze/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/asset/amaze/js/amazeui.min.js"></script>
</body>
<style>
    body {
        background-color: #fff;
    }
    .am-u-sm-5{
        /*background: linear-gradient(45deg,#1e90c9 0,#16091a 100%);*/
        background-color: #28abe3;
        padding:20px 10px 30px 10px;
        font-size: 28px;
        /*font-weight: bold;*/
        color: #f8f8f8;
        border-radius: 20px;
        text-align: center;
    }
    .font{
        padding-top: 8px;
    }
</style>
</html>