<div id="prolist-toolbar" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" onclick="prolist_toolbar.addProlist()" iconCls="icon-add-new" plain="true">添加</a>
        <a href="#" class="easyui-linkbutton" onclick="prolist_toolbar.deleteProlist()" iconCls="icon-delete-new" plain="true">删除</a>
    </div>

</div>
<table id="manager-prolist">

</table>

<form id="add-prolist-form" class="product-app-form" method="post" style="width: 700px;padding:8px 5px 5px 5px;">
        <div class="content">
            <span>产品原型:</span>
            <input  type="text"  name="product_id" class="column product" />
            <span>产品名称:</span>
            <input  type="text"  name="product_title" class="column" />
        </div>
        <div class="content">
            <span>产品来源:</span>
            <input  type="text"  name="product_from" class="column" />
            <span>　供应商:</span>
            <input  type="text"  name="product_merchant" class="column" />
        </div>
    　　<div class="content">
            <span>　市场价:</span>
            <input  type="text"  name="product_origin_price" class="column" />
            <span>售　　价:</span>
            <input  type="text"  name="product_price" class="column" />
        </div>
      　<div class="content">
            <span>　兑换码:</span>
            <input  type="text"  name="product_code" class="column" />
            <span>　负责人:</span>
            <input  type="text"  name="customer_id"  class="column"/>
        </div>
       
       <div class="content">
          <span>备注:</span>
          <textarea  name="product_desc"  class="textarea" ></textarea>
    　 </div>
</form>


<style>
    .product-app-form .content{
        width: 100%;
        margin-bottom:10px;
    }
    .product-app-form .content span{
        height:25px;
        width:60px;
        line-height:30px;
    }
    .product-app-form .content .column{
        height:25px;
        width:250px;
    }
    .product-app-form .content .textarea{
        height:80px;
        width:84%;
    }
</style>

<script type="text/javascript" src="__PUBLIC__/app/plugins/store.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/app/product.js"></script>